/*Entire webpage styles*/
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(245, 229, 229);
	color: black;
	padding: 0;
	margin: 0;
}

.modal-overlay-light {
	position: fixed;
    inset: 0;
	height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.modal-overlay-dark {
	position: fixed;
    inset: 0;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-light {
	position: absolute;
	inset: 40px;
	border: 1px solid #ccc;
	background: #fff;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-radius: 4px;
	outline: none;
	padding: 20px;
}

.modal-dark {
	position: absolute;
	inset: 40px;
	border: 1px solid white;
	background: black;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-radius: 4px;
	outline: none;
	padding: 20px;
}

/*Toggle light/dark mode styles*/
#toggle-container{
	display: flex;
	flex-direction: column;
  	align-items: center;
  	justify-content: center;
	position: absolute;
	right: 0px;
	padding-right: 30px;
}

#toggle-header{
	color: black;
	font-weight: bolder;
	font-size: larger;
}

#toggle-button{
	font-weight: bolder;
}

.dark-mode-body{
	background-color: rgb(0, 0, 0);
	color: white;
}

/*Navigation styles*/
#navbar-container {
	display: flex;
	top: 0%;
	width: 100%;
	height: 50px;
	padding: 0px;
	background-color: rgb(21, 156, 19);
	box-shadow: 0px 0px 3px 0px;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: black;
	color: black;
}

#logo-container {
	display: flex;
	width: 8.8%;
}

.navbutton {
	text-decoration: none;	/*removes line underneath link*/
	color: black;
	font-weight: bolder;
	font-size: larger;
	display: flex;		/* Centers content on navbar */
	align-items: center;
	padding: 14px 25px;
}

.navbutton-selected {
	border-width: 0px 0px 4px 0px;
	border-style: solid;
	border-color: rgb(232, 248, 11);
}

.navbutton:hover {
    background-color: rgb(11, 248, 129);
}

.navbutton:active {
	background-color: rgb(3, 202, 103);
}

.navbutton > .material-icons {
	margin-right: 8px;	/* Icon and text spacing */
}


/*Days of the week styles*/
#days-container {
	display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    margin: auto;
    padding: 10px;
    width: 70%;
    border: 4px solid black;
    border-radius: 15px;	/*rounded border*/
}
 
.daybutton {
	background-color:rgb(21, 156, 19);
    color: black;
    font-weight: bold;
	text-align: center;
    border-radius: 15px;
    line-height: 40px;
	/* preventing text selection */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

 .daybutton-selected {
	background-color: rgb(232, 248, 11);
}

.daybutton:hover {
    background-color:rgb(11, 248, 129);
}

.daybutton:active {
    background-color:rgb(11, 248, 129);
}

#popup {
	display: grid;
    margin: auto;
	text-align: center;
    padding: 10px;
    width: 70%;
    border: 4px solid black;
    border-radius: 15px;	/*rounded border*/
}

#popup-exit {
	font-weight: bold;
	background-color: rgb(232, 248, 11);
	border-radius: 15px;
	margin: auto;
	width: 10%;
}

#popup-exit:hover {
	background-color: rgb(246, 255, 113);
}


/*Profile styles*/
#profile {
	display: flex;
	margin-top: 10px;
}

#profile-left {
	box-sizing: border-box;
	padding: 20px;
	width: 25%;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
}

#profile-left > p {
	text-align: center;
}

#profile-right {
	box-sizing: border-box;
	padding: 20px;
	width: 75%;
	float: right;
	border-left: 1px solid #000000;
}

#profile-right > h1 {
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#fishlist-displaymodified {
	float: right;
}

.fishlist-top > button {
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#fishlist-addfish {
	width: 100%;
	padding: 5px;
}

.fishlist {
	margin: 5px 0px 5px 0px;
	height: 60vh;
  	overflow: auto;
	border: 1px solid #000000;
	width: 100%;
}

.fishlist-fish {
	display: flex;
	margin: 5px;
}

.fishlist-fish-info {
	display: flex;
	border: 1px black solid;
	padding: 5px;
	width: 95%;
}

.fishlist-fish-seperator {
	text-align: center;
	margin: 0px 5px 0px 5px;
}

.fishlist-fish-index {
	text-align: right;
	width: fit-content;
	margin-right: 5px;
	color: rgb(199, 188, 94);
}

.fishlist-fish-content {
	text-align: left;
	width: 26%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.fishlist-fish > button {
	margin-left: 2px;
	padding: 0px 6px 0px 6px;
	float: right;
	min-width: 22px;
}

#profile-pfp {
	box-sizing: border-box;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
	aspect-ratio: 1 / 1;
	border: solid 1px black;
	padding: 0.5vw;
}

.form-modal {
	margin: 0 auto;
	inset: 10px;
	text-align: center;
	width: fit-content;
	min-width: min(500px, 80vw);
	height: fit-content;
	padding-bottom: 60px;
}
.form-modal > div {
	border-bottom: 1px solid #cccccc;
}
.form-modal > div > p > label {
	display: inline-block;
	text-align: right;
	min-width: 100px;
	margin-right: 5px;
}
.form-modal > div > p > input {
	min-width: 200px;
}
.form-modal > button, .form-modal > a > button {
	padding: 10px;
}

.formbutton-submit {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.formbutton-cancel {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.formbutton-delete {
	position: absolute;
	bottom: 10px;
	left: 80px;
}

#fishform-sex {
	padding-top: 15px;
	padding-bottom: 15px;
}
#fishform-sex-label {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	min-width: 100px;
}
#fishform-sex-radio {
	display: inline-block;
	text-align: left;
	min-width: 200px;
}

#profileform-pfp-display {
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
	aspect-ratio: 1 / 1;
	vertical-align: middle;
	margin-right: 5px;
}

.info {
	font-size: 10pt;
	line-height: 0.2;
	color: black;
}

.error {
	color: red;
	font-size: 10pt;
	line-height: 0.2;
}

/*Map styles*/
#map {
    position: relative;
    height: 60vh;
    width: 40%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    vertical-align: top; /* Align the map and fish box to the top */
}

/*Fish box styles*/
#fishBox {
	margin-left: 2%;
    position: relative;
    height: 60vh;
    width: 20%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    vertical-align: top; /* Align the map and fish box to the top */
	text-align: center;
}

/*temporary weather box CSS*/
#weather {
	margin-right: 2%;
    position: relative;
    height: 60vh;
    width: 20%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    vertical-align: top;
}

/* Adds CSS to the wrapping for the map, fish box, and weather box */
#mapBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

/* Login Button */
.btnLogin-popup {
	background-color: rgb(27, 195, 25);
	font-size: 1em; 
	font-weight: bold; 
	width: 70px;
	height: 30px; 
	border: 2px solid black;
	border-radius: 6px; 
	cursor: pointer;
	transition: .2s;
	position: absolute; 
	right: 150px; 
	top: 10px;
}

.btnLogin-popup:hover {
	background: rgb(11, 248, 129);
}

/* Aligning text and login button */
.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px; 
}

/* More login page stuff */ 
.login_container {
    display: flex;
	flex-direction:column;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    /*background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/ 
    /* margin: 10px; */  
    font-family: 'Arial', sans-serif;
}

.login_container .login_box {
    width: 350px;
    padding: 40px;
    background: rgb(198, 199, 185);
    border-radius: 15px;
	border: 3px solid black; 
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
	
	position: relative; 
}

.login_box h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 2em;
}

.login_box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.login_box input:focus {
    border-color: rgb(21, 156, 19);
}

.login_box button {
    width: 100%;
    padding: 12px;
    background-color: rgb(21, 156, 19);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}


.login_box button:hover {
    background-color: rgb(11, 248, 129);
}

.create {
    padding: 12px;
    background-color: rgb(119, 241, 25);
	font-weight: bolder;
    color: rgb(4, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}